body{
	margin: 0px;
}

/* Body Header */

#body-header{
	height: 65vh;
	opacity: 1;
	background-image: url(image/Roadmap-to-become-a-successful-web-developer.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: -1;
}

.popup.show {
	display: block;
    opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	justify-content: center;
	align-items: center;
}

.popup img {
	max-width: 80%;
	max-height: 80%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
}

#image-container.fade-out {
    animation: fade-out 0.5s ease-out forwards;
}

@keyframes fade-in {
    from {
       	opacity: 0;
    }
    to {
    	opacity: 1;
    }
}

@keyframes fade-out {
    from {
      	opacity: 1;
    }
    to {
      	opacity: 0;
    }
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
}

/* Horizontal Lists */

.horizontal-list{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.horizontal-list li{
	display: inline-block;
	margin: 0px 8px 8px 0px;
}

.horizontal-list li a{
	color: white;
	text-decoration: none;
	transition: color 0.4s;
}

.horizontal-list li a:hover{
	color: #d685ff;
	border-bottom: 1px solid white;
}

.text-center{
	text-align: center;
}

/* name-div */

#name-div {
	min-height: 60px;
}

#typing-container {
	font-family: "Arial", sans-serif;
	font-size: 18px;
	border: 1px solid #ccc;
	padding: 10px;
	width: 300px;
	height: 50px;
	overflow: hidden;
	white-space: nowrap;
}

#name-social-container {
    margin-top: 10vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li {
    border-radius: 50%;
}

/* @keyframes moveDiv {
    0% {
    	transform: translateX(0);
    }
    50% {
      	transform: translateX(50%);
    }
    100% {
      	transform: translateX(0);
    }
} */

/*.social-icons li:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}*/

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
    border-radius: 50%;
    width: 1rem;
    padding: 8px;
    margin: -8px;
    transition-duration: 0.4s;
    text-decoration: none;
}

.social-icons li a img{
	width: 14px;
	height: 16px;
	opacity: 0.6;
}

.social-icons li a img:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
    border-radius: 50%;
    width: 1rem;
    padding: 8px;
    transition-duration: 0.4s;
    text-decoration: none;
    margin: -8px;
    color: mediumpurple;
}

section{
	width: 100%;
	/*min-height: 75vh;*/
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
}

section:nth-child(2n){
	/* background-color: #b3bbbd; */
	background-color: #1f0138;
	min-height: 75vh;
}

section:nth-child(2n+1){
	background-color: black;
}

.section-heading{
	width: auto;
	padding: 20px 10px 10px;
	font-weight: 400;
}

.section-heading span{
	font-size: 40px;
	color: #2857a4;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
}

/*About Section*/

#about{
	height: auto;
	width: 100%;
	position: relative;
	padding-bottom: 5%;
	/* z-index: 1; */
	/* overflow: hidden; */
}

#my-image{
	height: 12rem;
	width: 12rem;
	margin: auto;
	margin-top: -17vh;
	overflow: hidden;
	position: relative;
}

#my-image img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

#image-popup {
	z-index: 1;
}

video {
	/* object-fit: contain; */
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.video-header {
	position: relative;
	align-items: center;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
}

#intro {
    font-size: 15px;
    color: grey;
    padding-left: 20%;
    padding-right: 20%
}

/* .blueEmphasise {
    font-style: normal;
    color: #2857a4;
    font-weight: bold;
} */

/*Skills Section*/

.skills-display{
	background-color: transparent;
	width: 70%;
	max-width: 600px;
	/*border: 2px solid black;*/
	height: auto;
	display:  flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-bottom: 30px;
}

.skill-progress{
	height: 2rem;
	width: 10rem;
	background-color: lightgrey;
	border-radius:1rem;
	box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
	margin: 10px;
}

.skill-progress > div {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name span{
	color: white;
	font-size: 1rem;
	margin-bottom: 75px;
	display: table-cell;
  	vertical-align: baseline;
}

.skill-text-align{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

/*Common margin*/

.mb75px{
	align-items: center;
	margin-bottom: 75px;
}

/*Common color*/

.text-hightlight{
	color: #2857a4;
	font-weight: 600;
}

.mb-blue{
	background-color: #2857a4;
}

.mb-orange{
	background-color: orangered;
}

.mb-purple{
	background-color: rebeccapurple;
}

/*Percentage classes*/

.eighty-percent
{
	width: 80%;
	height: inherit;
}

.seventy-percent
{
	width: 70%;
	height: inherit;
}

.sixty-five-percent
{
	width: 65%;
	height: inherit;
}

.sixty-percent
{
	width: 60%;
	height: inherit;
}

.fifty-percent
{
	width: 50%;
	height: inherit;
}

.thirty-percent
{
	width: 30%;
	height: inherit;
}

.thirty-five-percent
{
	width: 35%;
	height: inherit;
}

/* Contact Details */

#contact{
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
    background-image: linear-gradient(to right, #4245c9 0%, #381d52 100%);
    opacity: 0.8;
    align-content: flex-start;
    display: inline-block;
    text-align: center;
}

/*#contact-me{
	background-color: orangered;
}*/

/*#my-details{
	background-color: blue;
}*/

/*Contact Form*/

input[type=text], input[type=email], select, textarea {
  width: 60%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: transparent;
  padding: 12px 20px;
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  border-color: whitesmoke;
  border-width: 2px;
  border-radius: 4px;
  cursor: pointer;
  color: whitesmoke;
}

input[type=submit]:hover
{
	color: #9933ff;
	background-color: black;
	border-color: whitesmoke;
	transition-duration: 0.4s;
}

/*Address IDs*/

#my-address{
	color: whitesmoke;
	text-align: center;
}

#add-list{
	list-style: none;
}

/*Work Experience*/

#experience{
	/* height: auto; */
	width: 100%;
	position: relative;
	padding-bottom: 5%;
	z-index: 1;
	height: fit-content;
}

.timeline{
	position: relative;
	width: 75%;
	/*border: 2px solid black;*/
	height: fit-content;
	padding: 10px;
	align-items: center;
}

.timeline-box{
	position: relative;
	margin: 5px;
	width:40%;
	left: 5%;
	min-height: 150px;
	align-items: center;
	/*border: 2px solid black;*/
}

.timeline-box:nth-child(2n){
	left: 54%;
	text-align: left;
}

.timeline-box:nth-child(2n+1){
	text-align: right;
}

.exp-prof{
	font-family: serif;
	font-style: normal;
	font-weight: bolder;
	font-size: 1.5rem;
	color: #7428d1;
}

.exp-comp{
	font-family: Arial, Helvetica, sans-serif;
	/* font-style: italic; */
	font-weight: bold;
	font-size: 1.1rem;
	color: slategrey;
}

.exp-job{
	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 0.8rem;
	color: white;
}

.timeline-box:nth-child(2n){
	left: 54%;
}

.timeline-box:nth-child(2n+1)::after{
	content: "";
	position: absolute;
	top: 33%;
	right: -13.25%;
	border-radius: 50%;
	width: 0.70rem;
	height: 0.70rem;
	background-color: black;
	z-index: 1;
}

.timeline-box:nth-child(2n)::after{
	content: "";
	position: absolute;
	top: 33%;
	left: -12%;
	border-radius: 50%;
	width: 0.70rem;
	height: 0.70rem;
	background-color: black;
	z-index: 1;
}

.timeline-divider{
	position: absolute;
	height: 66%;
	width: 0px;
	border: 2px dashed;
	border-color: #5d7fe3;
	top: 12%;
	left: 50%;
}

@media screen and (max-width: 600px){
	.timeline-divider{
		left: 5%;
	}
	.timeline-box:nth-child(2n){
		left: 9.6%;
		width: 80%;
	}
	.timeline-box:nth-child(2n+1){
		left: 9.6%;
		width: 80%;
		text-align: left;
	}
	.timeline-box:nth-child(2n+1)::after{
		left: -12%;
	}
}

.timeline-traveller{
	position: sticky;
	top: 33%;
	transform: rotate(90deg);
	color: darkslategray;
	z-index: 2;
}

/*.parikshit-logo{
	background-image: url(image/parikshit_logo.jpg);
	background-size: cover;
	position: absolute;
}

.aaina-logo{
	background-image: url(image/aaina_logo.png);
	background-size: inherit;
	height: 30vh;
	opacity: 0.3;
}*/

/*Education Section*/

#education{
	height: fit-content;
}

.standard{
	font-family: serif;
	font-style: normal;
	font-weight: bolder;
	font-size: 1.5rem;
	color: orangered;
}

.institute{
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.1rem;
	color: whitesmoke;
}

.edu-info{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 0.9rem;
}

.edu-info-list{
	list-style-type: none;
	text-align: left;
	color: white;
}

.edu-info-list li::before{
	content: "\f35a";
	font-family: "Font Awesome 5 Free";
	padding: 0 5px 0 0;
}

.timeline-traveller-again{
	position: sticky;
	top: 33%;
	color: #2857a4;
	z-index: 2;
}

/*Certifications*/

#certificates{
	/* display: flex;
	flex-direction: row; */
	height: auto;
	width: 100%;
	position: relative;
	padding-bottom: 5%;
	z-index: 1;
}

.div-inline{
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 32%;
    margin: 1%;
}

/* Removing Link Decoration */

.remove-link-decor{
	text-decoration: none;
	color: black;
}

/* Scrolling */
::-webkit-scrollbar {
	width: 10px;
	background-color: black;
}
  
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 5px;
	background: black;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
	background: rebeccapurple; 
	border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #381d52; 
}

#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}

#toast #img{
	width: 50px;
	height: 50px;
    float: left;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
    background-color: #111;
    color: #fff;
}

#toast #desc{
    color: #fff;
    padding: 16px;
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}